<h1>Flights</h1>

<% @flights.uniq.each do |flight| %>
  <table id="flight_<%= flight.id %>">
    <thead>
      <tr>
        <th>Flight # <%= flight.id %></th>
        <th><%= flight.airline.name %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% flight.passengers.each do |passenger| %>
          <tr id="passenger_<%= passenger.id %>">
            <td><%= passenger.name %></td>
            <td><%= link_to "Remove #{passenger.name}", remove_passenger_url(passenger.id, flight.id), method: :delete %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>